.main {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    border: 2px solid black;
    background-color: cornsilk;
}

.main div {
    margin: 20px;
    
}

.projects{
    align-items: center;
    border: 2px solid black;
    background-color: bisque;
}
.projects div h3{
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    
}

.projects div h3:hover{
    transform: scale(0.98);
    color: rgb(168, 168, 168);
}

